---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { HEXToHSLForm } from "@/components/hex-to-hsl-form";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout title="Color Tools">
    <h2 class="text-3xl font-semibold mb-4">Color Tools</h2>

    <!-- TO-DO: Hex to HSL Converter -->
    <Card className="max-w-lg">
        <CardHeader>
            <CardTitle>Hex to HSL</CardTitle>
        </CardHeader>
        <CardContent>
            <HEXToHSLForm client:load />
        </CardContent>
    </Card>
</RootLayout>
